<footer class="text-center py-4 mt-auto w-100 bg-dark text-white">
    <div class="container">
        <small>&copy; @DateTime.Now.Year <strong>TechGear</strong> | Bán chuột, tai nghe, phụ kiện chính hãng.</small>
    </div>
</footer>